* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-left: 15rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

.content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-heading {
  margin-bottom: 1rem;
}

.refresh-button,
.submit-button {
  margin-left: 1rem;
  border: 2px solid black;
  padding: 0.4rem 0.5rem;
  box-shadow: 3px 3px 0 0 black;
  cursor: pointer;
}

.submit {
  display: flex;
  justify-content: end;
}

.scores {
  border: 4px solid black;
  width: 400px;
  margin-top: 1rem;
}

.scores p {
  padding: 0.5rem 0.3rem;
}

.scores .score-wrapper:nth-child(even) {
  background-color: #ccc;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

form input {
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border: 3px solid black;
  width: 300px;
}
