* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0 0 16.2rem;
  color: #96a65b;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #a0a603;
}

.content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-heading {
  margin-bottom: 1rem;
}

.refresh-button,
.submit-button {
  margin-left: 1rem;
  border: none;
  outline: none;
  box-shadow: 3px 3px 0 0 #c4ddf2;
  cursor: pointer;
  background-color: #214001;
  color: #c4ddf2;
  font-size: 0.875rem;
  border-radius: 2px;
  padding: 0.7rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fafafa;
  transition: all 0.5s ease-in-out;
}

.submit-button:hover,
.refresh-button:hover {
  scale: 1.1;
}

.submit {
  display: flex;
  justify-content: end;
}

.scores {
  border: 2px solid#C4DDF2;
  width: 400px;
  margin-top: 1rem;
  border-radius: 10px;
}

.scores p {
  padding: 0.5rem 0.3rem;
}

.score-wrapper {
  cursor: pointer;
}

.scores .score-wrapper:nth-child(even) {
  background-color: #c4ddf2;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

form input {
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.5rem;
  width: 300px;
  border: 2px solid#C4DDF2;
  font-size: 0.875rem;
  border-radius: 10px;
  color: #565659;
}

form input:focus {
  border: 2px solid#C4DDF2;
  outline: #c4ddf2;
}
